.sidedrawer {
    @media (min-width: 600px) {
        display: none;
    }
    margin: 0;
    height: 100%;
    background: white;
    box-shadow: 2px 0px 5px rgba(0 ,0 ,0 , 0.8);
    position: fixed;
    top: 0;
    left: 0;
    max-width: 300px;
    width: 70%;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.5s ease-in 0.08s;
    &.show {
        transform: translateX(0);
        transition: transform 0.3s ease-out;
    }
    .toggle-button__wrapper {
        display: flex;
        flex-direction: row;
        padding: 0 1em;
        height: 2.5rem;
        align-items: center;
        .toggle-button__button {
            @media (min-width: 600px) {
                display: none;
            }
            height: 1.5rem;
            width: 1.5rem;
            background: transparent;
            border: none;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 0;
            box-sizing: border-box;
            -webkit-tap-highlight-color: transparent;
            visibility: visible;
            &:focus{
                outline: none;
            }
            .toggle-button__line {
                width: 1.5rem;
                height: 2px;
                background: black;
                opacity: 1;
                transition: transform 0.2s ease-in, opacity 0.2s ease-in;
                transform:  translateY(0) rotate(0deg);                
                &.toggle-button__first-line {
                    transform:  translateY(8px) rotate(45deg);
                    transition: transform 0.2s ease-out 0.2s;
                }
                &.toggle-button__second-line {
                    opacity: 0;
                    transition: opacity 0.2s ease-out;
                }
                &.toggle-button__third-line {
                    transform:  translateY(-8px) rotate(-45deg);
                    transition: transform 0.2s ease-out 0.2s;
                }
            }
        }
    }
    .sidedrawer__link-items {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        li { 
            margin: 0.5rem 0;
            .sidedrawer__link {
                text-decoration: none;
                font-size: 1.2rem;
            }
        }
    }
}